# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
server/.env
client/.env

# Build folders
build/
dist/
client/build/
client/dist/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db
